<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <body>
    {% include "navbar.html" %}
    <br/>
    <br/>
    <script type="text/javascript" src="/static/jquery-migrate-1.0.0.js"></script>
      <link rel="stylesheet" href="/static/redactor/css/redactor.css" />
      <script type="text/javascript" src="/static/redactor/redactor.js"></script>
    <div class="container">
      <div class="row">
        {% load bootstrap3 %}
        {% bootstrap_messages %}
        <div class="col-lg-12" style="margin-top:-30px">
          <div class="page-header" style="text-align:center">
            <h3> {{ entry.title}}</h3>
          </div>
        <div class="col-lg-3">
        <div class="panel panel-default">
          <div class="panel-heading" style="text-align:center">
            Menu
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li ><a href="/ilp/{{entry.id}}" style="text-align:center">Details</a></li>
              <li ><a href="/ilp/register/{{entry.id}}" style="text-align:center">Register</a></li>
              <li class="active"><a href="/ilp/registered/{{entry.id}}" style="text-align:center">Registered Teams</a></li>
            </ul>
          </div>
        </div>
        </div>
        <div class="col-lg-8" style="margin:10px;">
        {% if registered %}
          <table class="table table-hover table-bordered datatable" >
              <thead>
                  <tr>
                      <th>Team Name</th>
                      <th>number of Team members</th>
                      <th>Team members</th>
                      <th>created at</th>
                      <th>Updated on </th>
                  </tr>
              </thead>
              <tbody>
                {% for entry in teams %}
                <tr>
                  <td>{{ entry.team_name | title}}</td>
                  <td>{{ entry.members.all| length }}</td>
                  <td><table class="table table-hover table-bordered">{% for e in entry.members.all %}
                  <tr><td>{{e}}</td><td>{{e.alternate_email}}</td></tr>{% endfor %} </table></td>
                  <td>{{ entry.added }}</td>
                  <td>{{ entry.update }}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        {% else %}
      <div class="alert alert-info fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <strong>Huhh!</strong> No one is registered yet!!, You are the first one to register.
      </div>  
        {% endif %}
        </div>     
      </div>
     </div>
    </div>
  {% include "footer.html" %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="/static/datatables.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('.datatable').dataTable({
        "sPaginationType": "bs_full"
      });
      $('.datatable').each(function(){
        var datatable = $(this);
        // SEARCH - Add the placeholder for Search and Turn this into in-line form control
        var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
        search_input.attr('placeholder', 'Search');
        search_input.addClass('form-control input-sm');
        // LENGTH - Inline-Form control
        var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
        length_sel.addClass('form-control input-sm');
      });
    });
    </script>


</body>
</html>
