<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <body>

    {% include "navbar.html" %}
    <br/>
    <br/>
    {% load bootstrap3 %}

    <div class="container">
    	<div class="page-header">
    		<h1>Tinkerer's Lab <small>IIT bombay </small></h1>
        <h4> Components list </h4>
    	</div>
    </div>
    <div class="container">
      <link rel="stylesheet" href="/static/dataTables/dataTables.bootstrap.css">
      <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered">
        <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Count</th>
        <th>Link for Documentation</th>
      </tr>
      </thead>
      <tbody>
      {% for b in entries %}
      <tr>
        <td>{{ b.idNo }}</td>
        <td>{{ b.name }}</td>
        <td>{{ b.typeOfComponent }}</td>
        <td>{{ b.number }}</td>
        <td>{{ b.url }}</td>
      </tr>
    </tbody>
      {% endfor %}
      </table>

    </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="/static/datatables.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('.datatable').dataTable({
        "sPaginationType": "bs_full"
      }); 
      $('.datatable').each(function(){
        var datatable = $(this);
        // SEARCH - Add the placeholder for Search and Turn this into in-line form control
        var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
        search_input.attr('placeholder', 'Search');
        search_input.addClass('form-control input-sm');
        // LENGTH - Inline-Form control
        var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
        length_sel.addClass('form-control input-sm');
      });
    });
    </script>

    {% include "footer.html" %}
   </body>
</html>