

 <div class="banner">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Tech@ IITB</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="https://www.facebook.com/stab.iitb" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li><a href="http://stab-iitb.org/" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">STAB</span></a>
                        </li>
                        <li><a href="http://www.youtube.com/channel/UCwpgUUELr6qCZm-_omXH8kQ" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Youtube</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
