<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Events @ IIT Bombay">
    <meta name="author" content="">

    <title>Events | IIT Bombay</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href="/static/bootstrap/css/stylesheet.css" rel="stylesheet">
    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/jquery.validate.js"></script>
    <script type="text/javascript" src="/static/moment.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-inverse" id="nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./">Events</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Me</a></li>
            <li><a href="/events/all">Events</a></li>
            <li><a href="/messages">create Message</a></li>
            <li><a href="/messages/sent">Sent Messages</a></li>
            <li><a href="/messages/received">Received Messages</a></li>
            <li><a href="/users/edit">Edit Profile </a></li>
            <li><a href="#">Logged in as {{ request.session.user }}</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <br/>
      <div clas="container">
         <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="page-header">
                <h3>Create Event </h3>
              </div>
              {% if error %}
                <div class="alert alert-danger"><Strong>Warning!</strong> Check the form!!Only JPEG/jpg image files can be uploaded.Fill all the details</div>
               {% endif %}

              <form role="form" enctype="multipart/form-data" action="./new" method="post" >{% csrf_token %}
                <div class="form-group">
                  <label for="eventname">Event Name</label>
                  <input type="text" class="form-control" id="eventname" name="eventname" placeholder="Event name" required/>
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" name="description" rows="3" required/></textarea>
                </div>
                <div class="form-group">
                  <label for="eventname">Venue</label>
                  <input type="text" class="form-control" id="eventname" name="venue" placeholder="Venue" required/>
                </div>
                <div class="form-group">
                  <label for="picture">Picture</label>
                  <input type="text" id="picture" class="form-control" name="picture" required/>
                </div>
                  <div class="form-group">
                    <label for="starting"> Starting Time </label>
                    <div class='input-group date' id='datetimepicker7'>
                      <input type='text' name="starttime" class="form-control" required/>
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div> 
                  <div class="form-group">
                    <label for="duration">Duration </label>
                    <div class="input-group time">
                      <input type="text" name="duration" class="form-control" required/>
                      <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span> </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="yearellig">Year Elligibilty </label>
                    <select class="form-control" name="yearellig">
                      <option value="ALL">ALL</option>
                      <option value="first">First Year</option>
                      <option value="Second">Second Year</option>
                      <option value="third">Third Year </option>
                      <option value="fourth">Fourth Year </option>
                      <option value="pg-1">PG 1 Year </option>
                      <option value="pg-2">PG 2 Year </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="yearellig">Hostel Elligibilty </label>
                    <select class="form-control" name="hostel">
                      <option value="0">ALL</option>
                      <option value="1">Hostel 1</option>
                      <option value="2">Hostel 2</option>
                      <option value="3">Hostel 3 </option>
                      <option value="4">Hostel 4 </option>
                      <option value="5">Hostel 5 </option>
                      <option value="6">Hostel 6 </option>
                      <option value="7">Hostel 7 </option>
                      <option value="8">Hostel 8 </option>
                      <option value="9">Hostel 9 </option>
                      <option value="10">Hostel 10 </option>
                      <option value="11">Hostel 11 </option>
                      <option value="12">Hostel 12 </option>
                      <option value="13">Hostel 13 </option>
                      <option value="14">Hostel 14 </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="yearellig">Dept Elligibilty </label>
                    <select class="form-control" name="dept">
                      <option value="0">ALL</option>
                      <option value="1">Aerospace Engineering</option>
                      <option value="2">Biosciences and Bioengineering</option>
                      <option value="3">Chemical Engineering </option>
                      <option value="4">Chemistry </option>
                      <option value="5">Civil Engineering </option>
                      <option value="6">Computer Science and Engineering</option>
                      <option value="7">Earth Sciences </option>
                      <option value="8">Electrical Engineering </option>
                      <option value="9">Energy Science and Engineering </option>
                      <option value="10"> Humanities andSocial Science Science </option>
                      <option value="11">Industrial Center</option>
                      <option value="12">Mathematics</option>
                      <option value="13"> Mechanical Enginerring </option>
                      <option value="14"> Metallurgical Engineering </option> 
                      <option value="15">Phusics</option>
                    </select>
                  </div>
                <div class="form-group">
                  <label for="type">Event Type </label>
                  <select class="form-control" name="type" id="type">
                    <option value="">Select</option>
                    <option value="concert">Concert</option>
                    <option value="individual">Competition | Individual</option>
                    <option value="team">Competition | Team Type</option>
                    <option value="lecture">Lecture</option>
                    <option value="workshop">workshop</option>   
                  </select>
                </div>
                <div class="form-group" id="concert" style="display: none">
                  <label for="concertby"> Concert By</label>
                  <input type="text" name="concertby" class="form-control" placeholder="" >
                </div>
                <div class="form-group" id="lecture" style="display:none">
                  <label for="">Speaker </label>
                  <input type="text" name="speaker" class="form-control" placeholder="speaker">
                </div>
                <div class="form-group" id="workshop" style="display:none">
                  <label for="">Speaker </label>
                  <input type="text" name="workshop-speaker" class="form-control" placeholder="speaker">
                  <br/>
                  <label for="">Field of work </label>
                  <input type="text" name="field" class="form-control" placeholder="field of workshop">
                </div>
                <div class="form-group" id="individual" style="display:none">
                  <label for="competition">Deadline to register </label>
                    <div class='input-group date' id='datetimepicker6'>
                      <input type='text' name="deadline" class="form-control" />
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                    <br/>
                </div>
                <div class="form-group" id="team" style="display:none">
                  <label for="competition">Deadline to register </label>
                    <div class='input-group date' id='datetimepicker6'>
                      <input type='text' name="deadline1" class="form-control" />
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                    <br/>
                    <label for="teammembers">Max Team Members</label>
                    <input type="text" name="teammembers" class="form-control" />
                </div>
                <div class="form-group">
                  <label> Event Conducted By </label>
                  <select class="form-control" name="event-type">
                    <option value="cult">Cultural </option>
                    <option value="tech">Technical </option>
                    <option value="sports">Sports </option>
                  </select>
                </div>
                <script type="text/javascript">
                $(document).ready(function(){
                    $("#type").change(function() 
                    {
                      if ($(this).val() == "concert") {
                          $("#concert").show();
                      }else{
                          $("#concert").hide();
                      } 
                    });
                    $("#type").change(function() 
                    {
                      if ($(this).val() == "individual") {
                          $("#individual").show();
                      }else{
                          $("#individual").hide();
                      } 
                    });                
                    $("#type").change(function() 
                    {
                      if ($(this).val() == "team") {
                          $("#team").show();
                      }else{
                          $("#team").hide();
                      } 
                    });                
                    $("#type").change(function() 
                    {
                      if ($(this).val() == "workshop") {
                          $("#workshop").show();
                      }else{
                          $("#workshop").hide();
                      } 
                    });
                    $("#type").change(function() 
                    {
                      if ($(this).val() == "lecture") {
                          $("#lecture").show();
                      }else{
                          $("#lecture").hide();
                      } 
                    });
                });</script>
                <button type="submit" class="btn btn-default">Create Event</button>
              </form>
            </div>
          </div>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker7').datetimepicker();
  });
  $(function () {
    $('#datetimepicker6').datetimepicker();
  });
</script> 
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <hr>
            <p style="text-align:center">Copyright &copy; Company 2013</p>
            <p style="text-align:center"> Contact us </p>
          </div>
        </div>
      </footer>
</div>
</body>
</html>