<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <body>
    {% include "navbar.html" %}
    <br/>
    <br/>
    <script type="text/javascript" src="/static/jquery-migrate-1.0.0.js"></script>
      <link rel="stylesheet" href="/static/redactor/css/redactor.css" />
      <script type="text/javascript" src="/static/redactor/redactor.js"></script>
    <div class="container">
      <div class="row">
      <hr>
      	{% load bootstrap3 %}
      	{% bootstrap_messages %}
        <div class="col-lg-12">
          <div class="page-header">
            <h3> Resources </h3>
          </div>
          {% load endless %}
        {% if entries %}
		{% paginate entries %}
		    <div class="row">
		    {% for entry in entries %}
		    	<div class="col-lg-4">
		    		<div class="page-header">
		    			<h3> {{ entry.name }} <small> {{entry.description}}</small></h3>
		    		</div>
		    		<h4> Club : {{ entry.club }} </h4>
		    		<a class="btn btn-success" href="/uploads/{{entry.fileField}}">Download</a>
		    	</div>
		    {% endfor %}
		    </div>
		    <hr>
		{% show_pages %}
		{% endif %}
		</div>
	</div>
</div>
  {% include "footer.html" %}
</body>
</html>
