<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Events @ IIT Bombay">
    <meta name="author" content="">

    <title>Events | IIT Bombay</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href="/static/bootstrap/css/stylesheet.css" rel="stylesheet">
    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/jquery.validate.js"></script>
    <script type="text/javascript" src="/static/moment.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse" id="nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./">Events</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="./events">Competitions</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
              <h3>Events </h3>
            </div>
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#concert" data-toggle="tab" >Concerts &nbsp;<span class="badge pull-right"> {{ concert | length }}</span></a></li>
                <li class=""><a href="#workshop" data-toggle="tab"> Workshop &nbsp;<span class="badge pull-right">{{ workshop | length }}</span></a></li>
                <li class=""><a href="#individual" data-toggle="tab" > Competitions | Individual  &nbsp;<span class="badge pull-right">{{ individual | length }}</span></a></li>
                <li class=""><a href="#team"  data-toggle="tab"> Competitions | Team &nbsp; <span class="badge pull-right"> {{ team | length }}</span></a></li>
                <li class=""><a href="#lecture" data-toggle="tab" >Lectures &nbsp; <span class="badge pull-right"> {{ lecture | length }}</span></a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="concert">
                  <br/>
                  <div class="row">
                    <div class="col-lg-12">
                      {% if not concert %}
                      <div class="alert alert-info">
                        <a href="#" class="alert-link">No Events are present in this category</a>
                        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                      </div>
                      {% else %}
                      {% for o in concert %}
                      <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">{{ o.concert.name }}</h3>
                            </div>
                          <div class="panel-body">
                          <div class="media">
                            <a class="pull-left" href="#">
                            <img src="http://placehold.it/64X64" style="width: 64px; height: 64px;" class="media-object"  alt="64x64">
                            </a>
                          <div class="media-body">
                            <p> {{o.concert.description | truncatechars:25}} </p>
                            <a class="btn btn-sm btn-success pull-right" href="/event/{{o.id}}"> View Details</a>
                          </div>
                        </div>
                          </div>
                        </div>
                        </div>
                      {% endfor %}
                      {% endif %}
                      </div>
                    </div>
<!--                   <ul class="pager">
                    <li class="previous"><a href="#">&larr; Older</a></li>
                    <li class="next"><a href="#">Newer &rarr;</a></li>
                  </ul>
 -->            </div>
                <div class="tab-pane" id="workshop">
                  <div class="row">
                    <div class="col-lg-12">
                      <br/>
                      {% if not workshop %}
                      <div class="alert alert-info">
                        <a href="#" class="alert-link">No Events are present in this category</a>
                        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                      </div>
                      {% else %}
                      {% for o in workshop %}
                      <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">{{ o.workshop.name }}</h3>
                            </div>
                          <div class="panel-body">
                          <div class="media">
                            <a class="pull-left" href="#">
                            <img src="http://placehold.it/64X64" style="width: 64px; height: 64px;" class="media-object"  alt="64x64">
                            </a>
                          <div class="media-body">
                            <p> {{o.workshop.description | truncatechars:25}} </p>
                            <a class="btn btn-sm btn-success pull-right" href="/event/{{o.id}}"> View Details</a>
                          </div>
                        </div>
                          </div>
                        </div>
                        </div>
                      {% endfor %}
                      {% endif %}
                      </div>
                    </div>
               </div>
                <div class="tab-pane" id="individual">
                  <div class="row">
                    <div class="col-lg-12">
                      <br/>
                      {% if not individual %}
                      <div class="alert alert-info">
                        <a href="#" class="alert-link">No Events are present in this category</a>
                        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                      </div>
                      {% else %}
                      {% for o in individual %}
                      <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">{{ o.individual.name }}</h3>
                            </div>
                          <div class="panel-body">
                          <div class="media">
                            <a class="pull-left" href="#">
                            <img src="http://placehold.it/64X64" style="width: 64px; height: 64px;" class="media-object"  alt="64x64">
                            </a>
                          <div class="media-body">
                            <p> {{o.individual.description | truncatechars:25}} </p>
                            <a class="btn btn-sm btn-success pull-right" href="/event/{{o.id}}"> View Details</a>
                          </div>
                        </div>
                          </div>
                        </div>
                        </div>
                      {% endfor %}
                      {% endif %}
                      </div>
                    </div>
<!--                   <ul class="pager">
                    <li class="previous"><a href="#">&larr; Older</a></li>
                    <li class="next"><a href="#">Newer &rarr;</a></li>
                  </ul>
 -->                </div>
                <div class="tab-pane" id="team">
                  <div class="row">
                    <div class="col-lg-12">
                      <br/>
                      {% if not team %}
                      <div class="alert alert-info">
                        <a href="#" class="alert-link">No Events are present in this category</a>
                        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                      </div>
                      {% else %}
                      {% for o in team %}
                      <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">{{ o.team.name }}</h3>
                            </div>
                          <div class="panel-body">
                          <div class="media">
                            <a class="pull-left" href="#">
                            <img src="http://placehold.it/64X64" style="width: 64px; height: 64px;" class="media-object"  alt="64x64">
                            </a>
                          <div class="media-body">
                            <p> {{o.team.description | truncatechars:25}} </p>
                            <a class="btn btn-sm btn-success pull-right" href="/event/{{o.id}}"> View Details</a>
                          </div>
                        </div>
                          </div>
                        </div>
                        </div>
                      {% endfor %}
                      {% endif %}
                      </div>
                    </div>
<!--                   <ul class="pager">
                    <li class="previous"><a href="#">&larr; Older</a></li>
                    <li class="next"><a href="#">Newer &rarr;</a></li>
                  </ul>
 -->                </div>
                <div class="tab-pane" id="lecture">
                  <div class="row">
                    <div class="col-lg-12">
                      <br/>
                      {% if not lecture %}
                      <div class="alert alert-info">
                        <a href="#" class="alert-link">No Events are present in this category</a>
                        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                      </div>
                      {% else %}
                      {% for o in lecture %}
                      <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">{{ o.lecture.name }}</h3>
                            </div>
                          <div class="panel-body">
                          <div class="media">
                            <a class="pull-left" href="#">
                            <img src="http://placehold.it/64X64" style="width: 64px; height: 64px;" class="media-object"  alt="64x64">
                            </a>
                          <div class="media-body">
                            <p> {{o.lecture.description | truncatechars:25}} </p>
                            <a class="btn btn-sm btn-success pull-right" href="/event/{{o.id}}"> View Details</a>
                          </div>
                        </div>
                          </div>
                        </div>
                        </div>
                      {% endfor %}
                      {% endif %}
                      </div>
                    </div>
<!--                   <ul class="pager">
                    <li class="previous"><a href="#">&larr; Older</a></li>
                    <li class="next"><a href="#">Newer &rarr;</a></li>
                  </ul>
 -->            </div>
          </div>

        </div>
      </div>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <hr>
            <p style="text-align:center">Copyright &copy; Company 2013</p>
            <p style="text-align:center"> Contact us </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
