 <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li><a href="http://stab-iitb.org/about">About</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li><a href="/services">Services</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li><a href="http:://facebook.com/stab.iitb">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright © STAB IITB 2014. All Rights Reserved.Created and Developed by <a href="http://blog.prithvirajbilla.com">Prithviraj Billa</a></p>
                </div>
            </div>
        </div>
    </footer>
