<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <body>
    {% include "nav-signup.html" %}
    <div class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- The background image is set in the custom CSS -->
            <h1 class="tagline">Events @ IIT Bombay</h1>
          </div>
        </div>
      
      </div>
    </div>
    <hr>
    <div clas="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2" style="padding-right:20px; border-right: 1px solid #ccc;">
            <div class="page-header" style="text-align:center">
              <h4>Login</h4>
            </div>
              {% load bootstrap3 %}
              {% bootstrap_messages %}            
            <form role="form" method="post" action="/login/">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-default">Login</button>
            </form>
        </div>
        <div class="col-lg-4">
          <div class="page-header" style="text-align:center">
            <h4> Sign Up here <small> With only valid GPO email address </small> </h4>
          </div>
          <br>
          <br>
          {% if error1 %}
                <div class="alert alert-danger"><Strong>Warning!</strong> Wrong Ldap Id or Ldap username doesn't exists.</div>
          {% endif %}

          <form role="form" method="get" action="/signup/1/">
            <div class="form-group">
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter GPO Email">
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">Sign Up</button>
          </form>
        </div>

      </div>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <hr>
            <p style="text-align:center">Copyright &copy; Company 2013</p>
            <p style="text-align:center"> Contact us </p>
          </div>
        </div>
      </footer>
    </div>
<script type="text/javascript">
$(document).ready(function () {

$('#loginform').validate({
    rules: {
        username: {
            minlength: 2,
            required: true
        },
        password: {
            required: true,
        },
    },
    highlight: function (element) {
        $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
    },
    success: function (element) {
        element.text('valid!!').addClass('valid')
            .closest('.form-group').removeClass('has-error').addClass('has-success');
    }
});
});

</script>


  </body>
</html>