<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <body>

    {% include "navbar.html" %}
    <br/>
    <br/>
    <div class="container">
      <div class="row">
      <div class="alert alert-info">
        <strong>Heads up!</strong> Industrial Learning Programme  started. <a href="http://techid.stab-iitb.org/ilp/all">Click here.</a>
      </div>
        <hr>
        <div class="col-lg-8 col-lg-offset-2">
          <div class="row">
            <div class="col-lg-4">
             {% if user.photo.name %}
              {% load cropping %}
              <img src="{% cropped_thumbnail request.user "cropping"  %}">
              {% else %}

              <img class="img-responsive" src="/static/images/profile.png"  width="200px" height="150px">
              <p> Change your profile pic here <a href="/edit/profile"> Here</a></p>
              {% endif %}

            </div>
            <div class="col-lg-8">
              <blockquote>
              <h4> {{ user.first_name|title }} {{ user.last_name | title }}<!--<small>Manager,Stab</small>--></h4>
            </blockquote>
              <h4><span class="glyphicon glyphicon-map-marker"></span> {{ user.hostel }}, Room {{ user.room }} </h4>
              <h4><span class="glyphicon glyphicon-envelope"></span> {{ user.email }}</h4>
              <h4><span class="glyphicon glyphicon-book"></span> {{ user.department}} | {{ user.year }}</h4>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-lg-12">
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                <li class=""><a href="#reg" data-toggle="tab">Other Info</a></li>
              </ul>

              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                  <div class="row">
                    <div class="col-lg-12">
                      <h3><span class="glyphicon glyphicon-italic"></span>nterests:</h3>
                      {% if  user.skill.all %}
                        {% for i in user.skill.all %}
                         <button type="button" class="btn btn-default">{{i}}</button>
                         {% endfor %}
                         <br/> <br/>
                          <p> Edit your interests <a href="/edit/profile/">here</a> </p>
                      {% else %}
                       <br/> <br/>
                      <p> No skills are added yet, please add your skills <a href="/edit/profile/">here</a> </p>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="reg">
                  <div class="row">
                    <div class="col-lg-12">
                      <br/>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
      {% include "footer.html" %}
  </body>
</html>
