<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <body>

    {% include "navbar.html" %}
    <br/>
    <br/>
    <div class="container">
      <div class="row">
        <hr>
        <div class="col-lg-8 col-lg-offset-2">
          <div class="row">
            <div class="col-lg-4">
              <img class="img-responsive" src="http://placehold.it/150X200">
            </div>
            <div class="col-lg-8">
              <blockquote>
              <h4> {{ student.name }}<!--<small>Manager,Stab</small>--></h4>
            </blockquote>
              <h4><span class="glyphicon glyphicon-map-marker"></span> Hostel {{ student.hostel }}, Room {{ student.room }} </h4>
              <h4><span class="glyphicon glyphicon-envelope"></span> {{ student.email }}</h4>
              <h4><span class="glyphicon glyphicon-book"></span> {{ student.dept}} | {{ student.year }}</h4>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-lg-12">
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                <li class=""><a href="#reg" data-toggle="tab">Other Info</a></li>
              </ul>

              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                  <div class="row">
                    <div class="col-lg-12">
                      <h3><span class="glyphicon glyphicon-italic"></span>nterests:</h3>
                      {% if interests %}
                      <button type="button" class="btn btn-sm btn-primary" id="badge" disabled="disabled">Primary button</button>
                      {% else %}
                      <p> No interests are Added to your profile. Start adding your interests <a href="/users/edit/">here</a> </p>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="reg">
                  <div class="row">
                    <div class="col-lg-12">
                      <br/>
                      {% if not reg %}
                      {% else %}
                      {% for o in reg %}
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img src="http://placehold.it/64X64" style="width: 64px; height: 64px;" class="media-object"  alt="64x64">
                      </a>
                      <div class="media-body">
                        <a href=""><h4 class="media-heading">Media heading</h4></a>
                        <span class="glyphicon glyphicon-certificate"></span> Participated in the Competition and won first prize.
                      </div>
                    </div>
                    {% endfor %}
                   {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
      {% include "footer.html" %}
    </div>
  </body>
</html>
