<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <body>
    {% include "navbar.html" %}
    <br/>
    <br/>
    <script type="text/javascript" src="/static/jquery-migrate-1.0.0.js"></script>
      <link rel="stylesheet" href="/static/redactor/css/redactor.css" />
      <script type="text/javascript" src="/static/redactor/redactor.js"></script>
    <div class="container">
      {% if project.is_verified %}
      <div class="alert alert-success fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Hurray!</strong> This project has been verified.
      </div>      
      {% else %}
      <div class="alert alert-warning fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Holy guacamole!</strong> This project is not yet verified.
      </div>
      {% endif %}
      <div class="row">
      <hr>
        <div class="col-lg-9 col-lg-offset-1">
          <div class="page-header">
            <h1 style="text-align:center">{{ project.name }}<small> {{ project.short_description }}</small></h1>
          </div>
            <h4> Created by <a href="/profile/{{project.user.ldap_username}}">{{project.user.ldap_username}} </a> </h4>
            <p> Last update : {{ project.updated_at }}</p>
            <p> Created on : {{ project.created_at }}</p>
            <hr>
            {{ project.description | safe }}
            <hr>
            {% include "discus.html" %}
        </div>

      </div>
      <script type="text/javascript">
      $(".help-block").hide();
      </script>
      {% include "footer.html" %}

    </div>
  </body>
</html>

