<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Events @ IIT Bombay">
    <meta name="author" content="">

    <title>Events | IIT Bombay</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href="/static/bootstrap/css/stylesheet.css" rel="stylesheet">
    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/jquery.validate.js"></script>
    <script type="text/javascript" src="/static/moment.js"></script>
        <script type="text/javascript" src="/static/jquery-char.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-inverse" id="nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./">Events</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Me</a></li>
            <li><a href="/events/all">Events</a></li>
            <li><a href="/messages">create Message</a></li>
            <li><a href="/messages/sent">Sent Messages</a></li>
            <li><a href="/messages/received">Received Messages</a></li>
            <li><a href="/users/edit">Edit Profile </a></li>
            <li><a href="#">Logged in as {{ request.session.user }}</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="page-header">
              <h3> {% if rec %} Received{% elif sent %}Sent {% endif %} Messages </h3>
            </div>
            <br/>
              {% if not reco %}
                <div class="alert alert-info">
                  <a href="#" class="alert-link">No Messages are present</a>
                  <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                </div>
                {% else %}
            <div class="panel-group" id="accordion">
                {% for o in reco %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#{{ o.id }}">
                      {% if rec %} {{ o.sent_id.username }}{% elif sent %} {{ o.received_id.username }} {% endif %} <span class="pull-right"> {{ o.timestamp}}</span>
                      </a>
                    </h4>
                  </div>
                  <div id="{{ o.id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ o.data }} 
                        <br/>
                      {% if rec %}
                        <a href="/messages/?p={{ o.sent_id.username }}" class="btn btn-success pull-right" >Reply </a>
                      {% elif sent %}
                        <a href="/messages/forward/?p={{ o.id }}" class="btn btn-success pull-right" >Forward </a>  
                      {% endif %} 
                  </div>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
    </div>
        </div>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <hr>
            <p style="text-align:center">Copyright &copy; Company 2013</p>
            <p style="text-align:center"> Contact us </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
