<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
  <body>
    {% include "navbar.html" %}
    <br/>
    <script type="text/javascript" src="/static/extend/js/jasny-bootstrap.js"></script>
      <div clas="container">
         <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="page-header">
                <h3>Create Event </h3>
              </div>
              {% if error %}
                <div class="alert alert-danger"><Strong>Warning!</strong> Check the form!!Only JPEG/jpg image files can be uploaded.Fill all the details</div>
               {% endif %}

              <form role="form" enctype="multipart/form-data" action="./new" method="post" >{% csrf_token %}
                <div class="form-group">
                  <label for="eventname">Event Name</label>
                  <input type="text" class="form-control" id="eventname" name="eventname" placeholder="Event name" required/>
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" name="description" rows="3" required/></textarea>
                </div>
                <div class="form-group">
                  <label for="eventname">Venue</label>
                  <input type="text" class="form-control" id="eventname" name="venue" placeholder="Venue" required/>
                  <br/>
                   <label for="eventname">Picture</label>
                </div>
                <div class="form-group">
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail" style="width:960px; height: 230px;">
                      <img src="http://placeholder.it/100%x100%" name="image" alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width:960px; max-height: 230px;"></div>
                    <div>
                      <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="image"></span>
                      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                    </div>
                  </div>
                </div>
                  <div class="form-group">
                    <label for="starting"> Starting Time </label>
                    <div class='input-group date' id='datetimepicker7'>
                      <input type='text' name="starttime" class="form-control" required/>
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div> 
                  <div class="form-group">
                    <label for="duration">Duration </label>
                    <div class="input-group time">
                      <input type="text" name="duration" class="form-control" required/>
                      <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span> </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="yearellig">Year Elligibilty </label>
                    <select class="form-control" name="yearellig">
                      <option value="ALL">ALL</option>
                      <option value="first">First Year</option>
                      <option value="Second">Second Year</option>
                      <option value="third">Third Year </option>
                      <option value="fourth">Fourth Year </option>
                      <option value="mtech1">MTech 1 </option>
                      <option value="mtech2">MTech 2 </option>
                      <option value="mtech3">MTech 3</option>
                      <option value="phd">PHD </option>
                      <option value="other">Other</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="yearellig">Hostel Elligibilty </label>
                    <select class="form-control" name="hostel">
                      <option value="0">ALL</option>
                      <option value="1">Hostel 1</option>
                      <option value="2">Hostel 2</option>
                      <option value="3">Hostel 3 </option>
                      <option value="4">Hostel 4 </option>
                      <option value="5">Hostel 5 </option>
                      <option value="6">Hostel 6 </option>
                      <option value="7">Hostel 7 </option>
                      <option value="8">Hostel 8 </option>
                      <option value="9">Hostel 9 </option>
                      <option value="10">Hostel 10 </option>
                      <option value="11">Hostel 11 </option>
                      <option value="12">Hostel 12 </option>
                      <option value="13">Hostel 13 </option>
                      <option value="14">Hostel 14 </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="yearellig">Dept Elligibilty </label>
                    <select class="form-control" name="dept">
                      <option value="0">ALL</option>
                      <option value="1">Aerospace Engineering</option>
                      <option value="2">Biosciences and Bioengineering</option>
                      <option value="3">Chemical Engineering </option>
                      <option value="4">Chemistry </option>
                      <option value="5">Civil Engineering </option>
                      <option value="6">Computer Science and Engineering</option>
                      <option value="7">Earth Sciences </option>
                      <option value="8">Electrical Engineering </option>
                      <option value="9">Energy Science and Engineering </option>
                      <option value="10"> Humanities andSocial Science Science </option>
                      <option value="11">Industrial Center</option>
                      <option value="12">Mathematics</option>
                      <option value="13"> Mechanical Enginerring </option>
                      <option value="14"> Metallurgical Engineering </option> 
                      <option value="15">Physics</option>
                      <options value="16">Other</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input id="type" type="checkbox"> <b> Require Registration</b>
                      </label>
                    </div>                  
                </div>
                <div id="reg" class="form-group" style="display:none">
                  <div class="checkbox">
                    <label>
                      <input id="type1" name="individual" type="checkbox"> <b> Individual Registration Required</b>
                    </label>
                  </div>                  
                  <div class="checkbox">
                    <label>
                      <input id="type2" name="team" type="checkbox"> <b> Team Registration Required</b>
                    </label>
                  </div>                  

                </div>
                <div class="from-group" id="individual" style="display:none">
                    <label for="starting"> Dead line to register </label>
                    <div class='input-group date' id='datetimepicker6'>
                      <input type='text' name="deadline" class="form-control" required/>
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                </div>
                <div class="from-group" id="team" style="display:none">
                    <label for="starting"> Dead line to register </label>
                    <div class='input-group date' id='datetimepicker8'>
                      <input type='text' name="deadline1" class="form-control" required/>
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                </div>

                <button type="submit" class="btn btn-default">Create Event</button>
              </form>
            </div>
          </div>
<script type="text/javascript">
    $(document).ready(function()
    {
      $("#type").change(function()
      {
        if(document.getElementById("type").checked = true)
        {
            $("#reg").show();
        }
        else
        {
          $("#reg").hide();
        }
      }); 
});

</script>


{% comment %}
#Three type of Events:
1.which require Registration:
2.individual registration
3.team registration
{% endcomment %}
<script type="text/javascript">
  $(function () {
    $('#datetimepicker7').datetimepicker();
  });
  $(function () {
    $('#datetimepicker6').datetimepicker();$('#datetimepicker8').datetimepicker();
  });
</script> 
{% include "footer.html" %}
</div>
</body>
</html>