            <ul id="myTab" class="nav nav-tabs">
                <li {%if ind %}class="active"{%endif%}><a href="/events/individual/"  >Individual Events &nbsp;</a></li>

                <li {%if team %}class="active"{%endif%}><a href="/events/team/" > Team Events &nbsp;</a></li>
                <li {%if lecture %}class="active"{%endif%}><a href="/events/lecture/"  > Lectures  &nbsp;</a></li>
                <li {%if workshop %}class="active"{%endif%}><a href="/events/workshop/"  > Workshop &nbsp; </a></li>
                <li {%if other %}class="active"{%endif%}><a href="/events/otherevent/"  >Other &nbsp; </a></li>
            </ul>
