<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
    {% load like_button %}

    {% like_button_js_tag %}

    {% if request.user.id != None %}
    {% include "navbar.html" %}
    {% else %}
    {% include "nav-signup.html" %}
    {% endif %}
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="row">
            <div class="col-lg-12">
              {% load bootstrap3 %}
              {% bootstrap_messages %}
              {% if entry.ended %}
              <div class="alert alert-warning fade in">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <strong>Holy guacamole!</strong> This Event is ended.
              </div>  
              {% endif %}           
           {% if entry.picture.name %}
              {% load cropping %}
              <img src="{% cropped_thumbnail entry "cropping"  %}">
              {% else %}
              <img class="img-responsive" src="/static/images/cover.jpg"  style="width:1024px;height:300px" width="100" height="100">
              {% endif %}
            </div>
            <div class="col-lg-12">
              <div class="page-header">
                <h3>{{ entry.name }} &nbsp;<span class="badge">{{ eventtype }}</span>
                  {% include "events/reg.html" %}
               </h3>
              </div>

              <ul id="myTab" class="nav nav-tabs">
                <li ><a href="/events/{{eventtype|lower}}/{{entry.id}}" >Home</a></li>
                <li class="active"><a href="/register/{{eventtype|lower}}/view/{{entry.id}}/">Registered &nbsp;<span class="badge pull-right">{{ registered | length }}</span></a></li>
              </ul>
              {% block content %}
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                  <br/>

                  {% if registered %}
                  <table class="table table-hover table-bordered" >
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Ldap Username</th>
                              <th>Department</th>
                              <th>Hostel</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% load endless %}
                        {% paginate registered %}
                        {% for entry in registered %}
                        <tr>
                          <td>{{ entry.user.first_name}}{{ entry.user.last_name }}</td>
                          <td>{{ entry.user.ldap_username }}</td>
                          <td>{{ entry.user.department}} </td>
                          <td>{{ entry.user.hostel }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                {% else %}
              <div class="alert alert-info fade in">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <strong>Huhh!</strong> No one is registered yet!!, You are the first one to register.
              </div>  
                {% endif %}
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
</div>

</div>
    {% include "footer.html" %}

		<script type="text/javascript">
		$(document).ready(function() {
		    $("#myform").submit(function() {

		        $.ajax(
		                {
		                    type: 'POST',
		                    url: './register',
		                    data: {}, //your form datas to post          
		                    success: function(response)
		                    {
		                        alert(response);

		                    },
		                    error: function()
		                    {
		                        alert("Failure");
		                    }
		                });

		    });
		});

		</script>
</body>
</html>
