<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
    {% load like_button %}

    {% like_button_js_tag %}

    {% if request.user.id != None %}
    {% include "navbar.html" %}
    {% else %}
    {% include "nav-signup.html" %}
    {% endif %}
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="row">
            <div class="col-lg-12">
              {% load bootstrap3 %}
              {% bootstrap_messages %}
              {% if entry.ended %}
              <div class="alert alert-warning fade in">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <strong>Holy guacamole!</strong> This Event is ended.
              </div>  
              {% endif %}
              {% if request.user.id == None %}
              <div class="alert alert-info fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Holy guacamole!</strong> Please login or singup to register <a href="/">here</a>
              </div>  
              {% endif %}        
           {% if entry.picture.name %}
              {% load cropping %}
              <img src="{% cropped_thumbnail entry "cropping"  %}">
              {% else %}
              <img class="img-responsive" src="/static/images/cover.jpg"  style="width:1024px;height:300px" width="100" height="100">
              {% endif %}
            </div>
            <div class="col-lg-12">
              <div class="page-header">
                <h3>{{ entry.name }} &nbsp;<span class="badge">{{ eventtype }}</span>
                  {% include "events/reg.html" %}
               </h3>
              </div>

              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                {% if not type %}
                <li class=""><a href="/register/{{eventtype|lower}}/view/{{entry.id}}/">Registered &nbsp;</a></li>
                {% endif %}
              </ul>
              {% block content %}
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                  <br/>
                  <h3>Description:</h3>
                  {{ entry.description | safe}}
                  <h3> Venue: </h3>
                  <span class="glyphicon glyphicon-map-marker"></span>  {{ entry.venue }} <small> {{ entry.venue.description }}</small>
                  <h3> Time : </h3>
                  <p><span class="glyphicon glyphicon-calendar"></span> {{ entry.start_time }} </p>
                  <h3> Duration : </h3>
                  <p><span class="glyphicon glyphicon-time"></span> {{ entry.duration }} </p>
                  {% if entry.deadline_to_register %}
                  <h3> Dead line to register : </h3>
                  <p><span class="glyphicon glyphicon-calendar"></span> {{ entry.deadline_to_register }} </p>
                  {% endif %}

                  {% if entry.topic %}
                  <h3> Topic on : </h3>
                  {{ entry.topic }}
                  {% endif %}
                  {% if entry.workshop_on %}
                  <h3> Workshop On : </h3>
                  {{ entry.workshop_on }}
                  {% endif %}
                  {% if entry.team_size %}
                  <h3> Team Size : </h3>
                  {{ entry.team_size }}
                  {% endif %}
                  <h3> For Students: </h3>
                  <style type="text/css">
                   .btn-default
                    {
                      margin-bottom: 3px;
                    }
                  </style>
                  {% for item in  entry.year_elligible.all %}
                  <a class="btn btn-default" href="#" role="button">{{ item }}</a>
                  {% endfor %}
                  <h3>For Departments: </h3>
                  {% for item in  entry.dept_elligible.all %}
                  <a class="btn btn-default " href="#" role="button">{{ item }}</a>
                  {% endfor %}
                  <h3> For Hostels: </h3>
                  {% for item in  entry.hostel_elligible.all %}
                  <a class="btn btn-default " href="#" role="button">{{ item }}</a>
                  {% endfor %}
                  <h3> Conducted by : </h3>
                  {% for item in  entry.conducted_by.all %}
                  <a class="btn btn-default btn-warning " href="#" role="button">{{ item }}</a>
                  {% endfor %}
                  {% if entry.special_notes|length != "0" %}
                    <h3> Special Notes </h3>
                    {{ entry.special_notes | safe }}
                  {% endif %}
                  {% if entry.other_notes|length != "0" %}
                    <h3> Note: </h3>
                    {{ entry.other_notes | safe }}
                  {% endif %}
                  <br/>
                  {% if entry.attachements %}
                  <a href="/uploads/{{ entry.attachements}}" class="btn btn-default btn-success"> Download Attachements </a>
                  {% endif %}
                  {% if entry.ended %}
                    <h3 class="alert alert-success"> Event Summary: </h3>
                    {{ entry.end_note | safe }}
                  {% endif %}
                  {% like_button_tag %}


        </div>
      </div>
      {% endblock %}
    </div>
    {% include "discus.html" %}

  </div>
</div>

</div>

  	{% include "footer.html" %}
</div>
		<script type="text/javascript">
		$(document).ready(function() {
		    $("#myform").submit(function() {

		        $.ajax(
		                {
		                    type: 'POST',
		                    url: './register',
		                    data: {}, //your form datas to post          
		                    success: function(response)
		                    {
		                        alert(response);

		                    },
		                    error: function()
		                    {
		                        alert("Failure");
		                    }
		                });

		    });
		});

		</script>
</body>
</html>
